.sidebar {
    width: 200px;
    height: 100vh;
    background: linear-gradient(135deg, #1f2933, #111827);
    color: white;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}
.sidebar li:hover {
    background-color: rgba(255,255,255,0.1);
}

